DynamicsPhone/DynamicsPhone/Service References/DynamicsServiceRef/DynamicsProxy5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DynamicsServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DynamicsServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfNavUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NavUser" nillable="true" type="tns:NavUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNavUser" nillable="true" type="tns:ArrayOfNavUser" />
  <xs:complexType name="NavUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Balance" type="xs:decimal" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Company" type="xs:boolean" />
      <xs:element minOccurs="0" name="CountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="No" type="xs:int" />
      <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NavUser" nillable="true" type="tns:NavUser" />
  <xs:complexType name="ArrayOfNavProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NavProduct" nillable="true" type="tns:NavProduct" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNavProduct" nillable="true" type="tns:ArrayOfNavProduct" />
  <xs:complexType name="NavProduct">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="No" type="xs:int" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="VendorNo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NavProduct" nillable="true" type="tns:NavProduct" />
  <xs:complexType name="ArrayOfNavOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NavOrder" nillable="true" type="tns:NavOrder" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNavOrder" nillable="true" type="tns:ArrayOfNavOrder" />
  <xs:complexType name="NavOrder">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerNo" type="xs:int" />
      <xs:element minOccurs="0" name="IsDelivered" type="xs:boolean" />
      <xs:element minOccurs="0" name="No" type="xs:int" />
      <xs:element minOccurs="0" name="OrderDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OrderDeliveryDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OrderItems" nillable="true" type="tns:ArrayOfNavOrderItem" />
      <xs:element minOccurs="0" name="TotalCost" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NavOrder" nillable="true" type="tns:NavOrder" />
  <xs:complexType name="ArrayOfNavOrderItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NavOrderItem" nillable="true" type="tns:NavOrderItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNavOrderItem" nillable="true" type="tns:ArrayOfNavOrderItem" />
  <xs:complexType name="NavOrderItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cost" type="xs:decimal" />
      <xs:element minOccurs="0" name="Count" type="xs:int" />
      <xs:element minOccurs="0" name="Key" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="No" type="xs:int" />
      <xs:element minOccurs="0" name="OrderNo" type="xs:int" />
      <xs:element minOccurs="0" name="ProductNo" type="xs:int" />
      <xs:element minOccurs="0" name="PurchasePrice" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NavOrderItem" nillable="true" type="tns:NavOrderItem" />
</xs:schema>